<h1>Interests#index</h1>

<!-- <% @interests.each do |i| %>
  <ul>
    <li> <%= i.name %> </li>
  </ul>
<% end %> -->

<p>Search for guests with similiar interests</p>

<%= form_tag interests_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Type your interest here" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<br>
